.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    max-height: 100px;
    font-family: 'Baloo';
      padding: 2rem 6rem;
      position: sticky;
}
.header_navbar{
    display: flex;
    align-items: center;
}
.header_button{
 background: transparent;
 border: none;
}
.header_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

}
.header_navbar_li{
margin-left: 30px ;
list-style: none;
cursor: pointer;
min-width: fit-content;
}

/* Tablet and smartphone*/
@media (max-width: 900px){
  .header {
      padding: 2rem 2rem;
  }
}
